<div class="addGateway" layout="column">
    <div flex layout="column">
        <slick dots=true class="primaryBackground" arrows="false" current-index="currentIndex" flex swipe="true" infinite="false">
            <div >
                <div layout="column" layout-fill layout-align="center center" layout-padding hide-gt-md>
                    <h1>{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CONNECT_INTERNET_SHORT' | translate }}</h1>
                    <div>
                        <md-icon class="imageLarge" md-svg-icon="AA_first_step">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 64 64"
                                 height="100%" width="100%" />
                        </md-icon>
                    </div>
                    <h3>{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CONNECT_INTERNET_FULL' | translate }}</h3>
                </div>
                <div layout="row" layout-fill>
                    <div>
                        <md-icon class="imageLarge" md-svg-icon="AA_first_step">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 64 64"
                                 height="100%" width="100%" />
                        </md-icon>
                    </div>
                    <div>
                        <h1 style="text-align: left;">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CONNECT_INTERNET_SHORT' | translate }}</h1>
                        <h2 style="text-align: left;">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CONNECT_INTERNET_FULL' | translate }}</h2>
                    </div>
                </div>
            </div>
            <div >
                <div layout="column" layout-fill layout-align="center center" layout-padding hide-gt-md>
                    <h1>{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CONNECT_AC_SHORT' | translate }}</h1>
                    <div>
                        <md-icon class="imageLarge" md-svg-icon="AA_second_step">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 64 64"
                                 height="100%" width="100%" />
                        </md-icon>
                    </div>
                    <h3>{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CONNECT_AC_FULL' | translate }}</h3>
                </div>
                <div layout="row" layout-fill>
                    <div>
                        <md-icon class="imageLarge" md-svg-icon="AA_second_step">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 64 64"
                                 height="100%" width="100%" />
                        </md-icon>
                    </div>
                    <div>
                        <h1 style="text-align: left;">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CONNECT_AC_SHORT' | translate }}</h1>
                        <h2 style="text-align: left;">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CONNECT_AC_FULL' | translate }}</h2>
                    </div>
                </div>
            </div>
            <div >
                <div layout="column" layout-fill layout-align="center center" layout-padding hide-gt-md >
                    <h1>{{ 'GLOBAL.ADD_GATEWAY_DIALOG.ENTER_CODE_SHORT' | translate }}</h1>
                    <div layout="row" class="enterCodeBtn" ng-click="showAddModal()" layout-padding>
                        <md-icon class="enterCodeIcon" md-svg-icon="border_color">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 64 64"
                                 height="100%" width="100%" />
                        </md-icon>
                        <span class="enterCodeText">Enter manually</span>
                    </div>
                    <h3>{{ 'GLOBAL.ADD_GATEWAY_DIALOG.ENTER_CODE_FULL' | translate }}</h3>
                </div>
                <div layout="row" layout-fill  class="show-gt-md" layout-padding>
                    <div layout="column" layout-align="start center">
                        <div layout="row" class="enterCodeBtn" ng-click="showAddModal()" layout-padding>
                            <md-icon class="enterCodeIcon" md-svg-icon="border_color">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 64 64"
                                     height="100%" width="100%" />
                            </md-icon>
                            <span class="enterCodeText">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.ENTER_CODE_BTN' | translate }}</span>
                        </div>
                    </div>
                    <div>
                        <h1 style="text-align: left;">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.ENTER_CODE_SHORT' | translate }}</h1>
                        <h2 style="text-align: left;">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.ENTER_CODE_FULL' | translate }}</h2>
                    </div>
                </div>
            </div>
        </slick>
    </div>
    <div layout="row" layout-align="space-between center" class="primaryBackground">
        <md-button ng-click="skipTutorial()" ng-class="{hiddenBtn: (currentIndex === 2)}">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.SKIP' | translate }}</md-button>
        <md-button ng-click="close()">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CANCEL' | translate }}</md-button>
        <md-button ng-click="goToNext()" ng-class="{hiddenBtn: (currentIndex === 2)}">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.NEXT' | translate }}</md-button>
    </div>
</div>
