<div ng-controller="NavbarCtrl" class="navBar">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <location-button options="locationOptions" class="navbarLocationPanel"></location-button>
            <span flex></span>
            <md-button hide show-gt-md ui-sref="overview" class="md-icon-button" aria-label="BeeeOnWeb">
                <md-icon md-svg-icon="logo-icon" style="width: 48px;height: 48px;"></md-icon>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Refresh">
                <md-icon md-svg-icon="refresh"></md-icon>
            </md-button>
            <md-button ui-sref="notifications" class="md-icon-button" aria-label="Notifications">
                <md-icon md-svg-icon="notifications"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
