<div layout="column" layout-padding layout-align="start start" layout-fill class="addGatewayModalWrapper">
    <h3 flex>{{ 'GLOBAL.ADD_GATEWAY_DIALOG.ENTER_CODE_SHORT' | translate }}</h3>
    <form name="addForm" layout-fill>
        <div layout="row" layout-align="start center" layout-fill>
            <md-input-container flex class="md-accent" >
                <div ng-messages="addForm.gateId.$error">
                    <label ng-message="minlength">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.ENTER_CODE_ERROR' | translate }}</label>
                    <label ng-message="number">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.ENTER_CODE_ERROR' | translate }}</label>
                </div>
                <input ng-model="gateId" type="number" ng-required="true" focus="true" aria-label="Gateway ID" ng-minlength="5" name="gateId" required>
            </md-input-container>
        </div>
    </form>
    <div layout="row" layout-align="end center" layout-fill>
        <md-button class="md-accent" ng-click="cancel()">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.CANCEL' | translate }}</md-button>
        <md-button class="md-accent" ng-click="add()" ng-disabled="addForm.$invalid">{{ 'GLOBAL.ADD_GATEWAY_DIALOG.ADD' | translate }}</md-button>
    </div>
</div>
