<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="globalLevel">debug</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss} %-5level %logger{1} - %msg%n}{FATAL=magenta, ERROR=red, WARN=yellow, INFO=white, DEBUG=bright green, TRACE=black}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.iha.emulator.ui.simulations.detailed.DetailedSimulationPresenter" level="${globalLevel}"></Logger>
        <Logger name="com.iha.emulator.ui.simulations.detailed.DetailedSimulationView" level="${globalLevel}"></Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>