<?xml version="1.0" encoding="UTF-8"?>
<framework_config
	portUIServer="7082"
	portAdaRecieverServer="7083"
	portAdaSenderServer="7081"
	portAlgorithmsServer="7084"
	DBName="home6"
	DBUser="root"
	DBPassword=""
	maxNumDBConnections="10"
	recieveBuffSize="5000"
	algorithmsConfig="Algorithms/AlgsConfig.xml"
	connPoolSize="10">
	<loger
		fileName="log"
		appName="FRAMEWORK"
		verbosity="7"
		filesCnt="5"
		LinesCnt="100"
	/>
</framework_config>