<md-list>
    <md-radio-group ng-model="selectedGateway">
        <md-list-item
                ng-repeat="gateway in gateways"
                ng-click="select(gateway.aid)"
                md-no-ink
                aria-label="Select {{gateway.aname}}"
                ng-class="{selected: selectedGateway === gateway.aid}"
                >
            <div layout="row" layout-align="space-between center" flex>
                <div>
                    <h3>{{gateway.aname}}</h3>
                    <p>{{gateway.role}}</p>
                </div>
                <md-radio-button ng-value="gateway.aid" aria-label="Select {{gateway.aname}}"></md-radio-button>
            </div>
        </md-list-item>
    </md-radio-group>
</md-list>