
    <div layout="column" layout-align="start center" layout-padding>
        <h3 class="">BeeeOn(Web)</h3>
        <p>Version {{version}}</p>
        <md-icon class="logoIcon" md-svg-icon="logo">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 64 64"
                 height="100%" width="100%" />
        </md-icon>
        <a href="http://www.rehivetech.com" target="_blank">http://www.rehivetech.com</a>
        <a href="mailto: info@beeeon.com">info@beeeon.com</a>
        <a href="" ><img src="../assets/images/GooglePlay.png" alt="Get android app" /></a>
        <p class="copyright">&copy; 2015 RehiveTech. All rights reserved</p>
        <md-button class="md-raised md-primary" md-no-ink ng-click="close()">Close</md-button>
    </div>