<md-content>
    <md-list>
        <md-list-item ng-repeat="log in logs">
            <section>
                <div class="md-list-item-text">
                    <h3>Date: {{log.date}}</h3>
                    <p>Version: {{log.version}}</p>
                    <div class="hasChangeLogChips" layout="column"  layout-margin>
                        <div ng-repeat="point in log.points" layout="row" layout-margin>
                            <div layout-sm="column" layout="row">
                                <div  layout="row" layout-align="start center">
                                    <span ng-repeat="chip in point.chips" class="{{chip}}" >{{chip}}</span>
                                </div>
                                <div>{{point.text}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <md-divider ></md-divider>
            </section>
        </md-list-item>
    </md-list>
</md-content>
