<div class="addAccountWrapper" layout="column">
    <h4 class="modal-title">{{action}} {{ 'GLOBAL.USER_LOWERCASE' | translate }}</h4>
    <md-divider></md-divider>
    <form name="addAccountForm" layout="column" layout-fill>
            <div layout="row" class="emailInput">
                <md-input-container flex class="md-accent">
                    <label>{{ 'GLOBAL.EMAIL' | translate }}</label>
                    <input ng-model="account.email" type="email" ng-required="true" focus="true">
                </md-input-container>
            </div>
            <div layout="row" class="roleInput">
                <md-input-container flex>
                    <label>{{ 'GLOBAL.ROLE' | translate }}</label>
                    <md-select ng-model="account.permission" placeholder="Size" class="md-accent">
                        <md-option ng-repeat="role in roles" value="{{role}}" class="md-accent">{{role.toUpperCase()}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" ng-click="add();" ng-disabled="!addAccountForm.$valid">{{action}}</md-button>
        </div>
    </form>
</div>
