<div layout="column" class="radioButtonModalWrapper">
    <h3 class="unitTitle">{{unit.title}}</h3>
    <md-divider></md-divider>
    <md-radio-group ng-model="unit.selected">
        <md-radio-button value="{{option.id}}" ng-repeat="option in unit.options" ng-click="save(option)">
            {{option.name}}
            <span ng-if="option.unit">
                ({{option.unit}})
            </span>
        </md-radio-button>
    </md-radio-group>
    <md-divider></md-divider>
    <md-button class="md-accent" ng-click="cancel();">{{ 'GLOBAL.CANCEL' | translate }}</md-button>
</div>
