<div layout="column" class="numberPickerModalWrapper">
    <h3 class="title">{{item.translationPrefix + item.title | translate}}</h3>
    <md-divider></md-divider>
    <number-picker min="{{item.min}}" max="{{item.max}}" step="{{item.step}}" value="pickerValue" unit="{{item.unit}}"></number-picker>
    <md-divider></md-divider>
    <div layout="row" layout-align="center center">
        <md-button class="md-accent" ng-click="cancel();">{{ 'GLOBAL.CANCEL' | translate }}</md-button>
        <md-button class="md-accent" ng-click="save(pickerValue);">{{ 'GLOBAL.SET' | translate }}</md-button>
    </div>
</div>
