<div flex layout="column" class="addRuleWrapper" layout-align="start start">
    <md-list class="addRuleList" layout-fill>
        <md-list-item md-no-ink class="nameInput">
            <md-switch class="md-secondary" aria-label="{{ 'WATCHDOG.RULE_SWITCH' | translate }}"></md-switch>
            <md-input-container flex class="md-accent">
                <label>{{ 'WATCHDOG.RULE_NAME' | translate }}</label>
                <input ng-model="user.address2"  md-sidenav-focus>
            </md-input-container>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-2-line ifInput">
            <div layout="row" layout-align="center center" class="ifIcon">
                <span flex>{{ 'WATCHDOG.IF' | translate }}</span>
            </div>
            <div class="md-list-item-text">
                <md-select ng-model="selectedDevice" placeholder="{{ 'WATCHDOG.SELECT_PLACEHOLDER' | translate }}" class="md-accent">
                    <md-optgroup label="Devices">
                        <md-option ng-value="device.name" ng-repeat="device in devices" class="md-accent">
                            <md-icon md-svg-icon="{{device.icon}}" class="deviceIcon"></md-icon>
                            {{device.name}} ({{device.room}})
                        </md-option>
                    </md-optgroup>
                </md-select>
                <p>condition</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-2-line thenInput">
            <div layout="row" layout-align="center center" class="ifIcon">
                <span flex>{{ 'WATCHDOG.THEN' | translate }}</span>
            </div>
            <md-radio-group ng-model="selectedAction">
                <md-radio-button ng-value="action.action" aria-label="{{action.title}}" ng-repeat="action in thenActions">{{action.title}}</md-radio-button>
            </md-radio-group>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</div>