.loginPanelWrapper{
    min-height: 100%;
}
.loginLogoPanel{
    background-color: #ffffff;
    min-height: 300px;
    min-width: 250px;
}
.loginSignButtonsPanel{
    background-color: #00bcd4;
    min-height: 300px;
    min-width: 250px;
}

.loginButton {
    width: 150px;
}

.loginGButton {
    background-color: #f73838;
    color: #ffffff;
}