<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.iha.emulator.utilities">
    <Properties>
        <Property name="log-path">logs/</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile" fileName="${log-path}/emu_log.log" filePattern="${log-path}/emu_log_%d{dd-MM-yyyy}-%i.log" >
            <PatternLayout pattern="%d{HH:mm:ss} [%thread] %-5level - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss} [%thread] %-5level %logger{1} - %msg%n}{FATAL=magenta, ERROR=red, WARN=yellow, INFO=white, DEBUG=bright green, TRACE=cyan}"/>
        </Console>
        <TextAreaAppender name="TextAreaAppender">
            <PatternLayout pattern="%d{HH:mm:ss} [%thread] %-5level - %msg%n"/>
        </TextAreaAppender>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="TextAreaAppender"/>
            <AppenderRef ref="RollingFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>