<div ng-if="modal.header" class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p>
    <md-progress-circular ng-if="modal.progress_circular" class="md-accent" md-diameter="36" md-mode="indeterminate"></md-progress-circular>
    <span ng-if="modal.text" ng-bind="modal.text"></span>
  </p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
</div>
<div ng-if="modal.buttons" class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>