<config>
	<server threads="10" port="4565" activityPort="12345" notifyPort="12346" verbosity="7"/>
	<database sessions="10" connectionString="port = '5432' dbname = 'home4' user = 'pavel' password = '1234' connect_timeout = '3'"/>
	<comTable cleanerSleepPeriodMs="100000" maxInactivityTimeMs="60000"/>
</config>
