.descriptionOverview {
  md-toolbar {
    padding-left: 54px;
    @media screen and (max-width: 400px){
      .md-toolbar-tools {
        padding-right: 0;
      }
    }
  }
  .propertyList {
    md-list-item {
      padding-left: 16px;
      .md-button {
        margin-top: 11px;
        /*color: @clr_accent;*/
      }
    }
    .md-list-item-text {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .propertyName {
      color: @clr_secondary_text;
      padding-bottom: 6px;
      font-size: 10pt;
    }
    .property {
      color: @clr_primary_text;
      font-size: 13pt;
    }
    md-icon{
      svg {
        fill: @clr_secondary_text;
      }
    }
    md-divider {
      margin-left: 70px;
    }
  }
}

.descriptionRightPanel {
  /* Right sidenav */

}