<div layout="column" layout-padding layout-align="start start" layout-fill class="deleteGatewayWrapper">
    <h3 flex>{{ 'ACTIVE_GATEWAY.DELETE' | translate }} &quot;{{name}}&quot;</h3>
    <div layout="row" layout-align="start center" layout-fill>
        <p>{{ 'ACTIVE_GATEWAY.DELETE_GATEWAY_TEXT' | translate }}</p>
    </div>
    <div layout="row" layout-align="end center" layout-fill>
        <md-button class="md-accent" ng-click="cancel()">{{ 'ACTIVE_GATEWAY.BTNS.DELETE_CANCEL' | translate }}</md-button>
        <md-button class="md-accent" ng-click="delete()">{{ 'ACTIVE_GATEWAY.BTNS.DELETE' | translate }}</md-button>
    </div>
</div>
