<div flex layout="column" class="devicesWrapper" layout-fill>
    <!-- Navigation bar-->
    <div ng-include="'components/navbar/navbar.html'"></div>
    <!-- App center-->
    <div layout="row" flex>
        <!-- Menu (left side navigation)-->
        <div ng-include="'components/menu/menu.html'" layout="column" class="grayBackground"></div>
        <!-- Center -->
        <md-content flex class="grayBackground devicesContent" layout="column" layout-align="top center" scroll="hideOnScroll">
            <div class="md-whiteframe-z2 whiteBackground " layout="column" layout-fill>
                <!-- EMPTY MODULES -->
                <div flex ng-show="!showList()" layout="column" layout-fill>
                    <div flex layout="column" layout-align="center center" class="emptyDevicesWrapper whiteBackground md-whiteframe-z2">
                        <h3>{{ 'DEVICES.NO_DEVICES' | translate}}</h3>
                        <md-button class="refreshBtn" ng-click="refreshList()">{{ 'DEVICES.BTNS.REFRESH_LIST' | translate}}</md-button>
                    </div>
                </div>
                <!-- END EMPTY MODULES -->
                <!-- MODULES -->
                <div flex ng-show="showList()" layout="column" layout-fill>
                    <md-content>
                        <devices-list locations="locations" devices="devices"></devices-list>
                    </md-content>
                </div>
                <!-- END MODULES -->
                <md-fab-speed-dial md-open="addFABisOpen" md-direction="up"
                                   ng-class="md-scale" class="md-primary md-fab-bottom-right" ng-hide="hideOnScroll">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-accent">
                            <md-icon md-svg-src="add"></md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button ng-click="showAddGatewayModal()" aria-label="{{ 'DEVICES.BTNS.ADD_GATEWAY' | translate}}" class="md-fab md-raised md-mini md-accent">
                            <md-tooltip md-direction="left" md-visible="addFABisOpen" md-autohide="false">
                                {{ 'DEVICES.BTNS.ADD_GATEWAY' | translate}}
                            </md-tooltip>
                            <md-icon md-svg-src="add"></md-icon>
                        </md-button>
                        <md-button aria-label="{{ 'DEVICES.BTNS.ADD_DEVICE' | translate}}" class="md-fab md-raised md-mini md-accent">
                            <md-tooltip md-direction="left" md-visible="addFABisOpen" md-autohide="false">
                                {{ 'DEVICES.BTNS.ADD_DEVICE' | translate}}
                            </md-tooltip>
                            <md-icon md-svg-src="add"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </md-content>
        <!-- Detail (right side navigation)-->
        <right-panel layout="column" options="rightPanelOptions" class="devicesRightPanel">
            <div ui-view="right" layout-fill>

            </div>
        </right-panel>
    </div>
</div>
