.hasChangeLogChips span{
    height: 24px;
    width: 60px;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.hasChangeLogChips .major {
    background-color: #00bcd4;
    color: #ffffff;
    font-weight: bold;
}

.hasChangeLogChips .minor {
    background-color: rgba(0, 0, 0, 0.36);
    color: #ffffff;
    font-weight: bold;
}